### Descobrir qual foi o mês, o vendedor e o valor obtido da tabela de vendas

#### Vídeo aula feita em conjunto do canal youtube HashtagProgramação
###### https://www.youtube.com/c/HashtagProgramacao

In [2]:
import pandas as pd

#### Construindo uma lista de valores para os 6 arquivos em Excel

In [3]:
lista_meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho']

#### Lendo um arquivo em Excel

In [4]:
tabela_vendas = pd.read_excel('janeiro.xlsx')

#### Armazenando todos os meses em uma variável

In [5]:
for mes in lista_meses:
    print(mes)
    tabela_vendas = pd.read_excel(f'{mes}.xlsx')
    print(tabela_vendas)
    print()

Janeiro
      Vendedor  Vendas
0        Maria   41006
1     Giuseppe   38162
2         Anna   24992
3     Giovanni   30826
4      Antonio   22208
..         ...     ...
995     Glauco   26294
996      Georg   30144
997     Tullia   36002
998  Pancrazio   31030
999        Gio   37629

[1000 rows x 2 columns]

Fevereiro
      Vendedor  Vendas
0        Maria   25193
1     Giuseppe   27174
2         Anna   34971
3     Giovanni   17164
4      Antonio   22807
..         ...     ...
995     Glauco   27516
996      Georg   49195
997     Tullia   33760
998  Pancrazio   49937
999        Gio   38870

[1000 rows x 2 columns]

Março
      Vendedor  Vendas
0        Maria   22876
1     Giuseppe   31953
2         Anna   17180
3     Giovanni   32777
4      Antonio   39083
..         ...     ...
995     Glauco   26581
996      Georg   22899
997     Tullia   19810
998  Pancrazio   37649
999        Gio   23864

[1000 rows x 2 columns]

Abril
      Vendedor  Vendas
0        Maria   18662
1     Giuseppe   28843
2         Anna   23288
3     Giovanni   28157
4      Antonio   48740
..         ...     ...
995     Glauco   39915
996      Georg   37902
997     Tullia   46760
998  Pancrazio   31245
999        Gio   37739

[1000 rows x 2 columns]

Maio
      Vendedor  Vendas
0        Maria   41006
1     Giuseppe   38162
2         Anna   24992
3     Giovanni   30826
4      Antonio   22208
..         ...     ...
995     Glauco   26294
996      Georg   30144
997     Tullia   36002
998  Pancrazio   31030
999        Gio   37629

[1000 rows x 2 columns]

Junho
      Vendedor  Vendas
0        Maria   48539
1     Giuseppe   27292
2         Anna   45813
3     Giovanni   17049
4      Antonio   15988
..         ...     ...
995     Glauco   15842
996      Georg   37695
997     Tullia   42438
998  Pancrazio   35274
999        Gio   47662

[1000 rows x 2 columns]

#### Verificar se em cada coluna Vendas o valor é maior que 50.000

In [6]:
for mes in lista_meses:
    print(mes)
    tabela_vendas = pd.read_excel(f'{mes}.xlsx')
    print(tabela_vendas)
    if (tabela_vendas['Vendas'] > 55000).any():
        print('Encontrou alguém com valor maior que 55000')
    else:
        print('Não encontrou ninguém com valor maior que 55000')
        print()

Janeiro
      Vendedor  Vendas
0        Maria   41006
1     Giuseppe   38162
2         Anna   24992
3     Giovanni   30826
4      Antonio   22208
..         ...     ...
995     Glauco   26294
996      Georg   30144
997     Tullia   36002
998  Pancrazio   31030
999        Gio   37629

[1000 rows x 2 columns]
Não encontrou ninguém com valor maior que 55000

Fevereiro
      Vendedor  Vendas
0        Maria   25193
1     Giuseppe   27174
2         Anna   34971
3     Giovanni   17164
4      Antonio   22807
..         ...     ...
995     Glauco   27516
996      Georg   49195
997     Tullia   33760
998  Pancrazio   49937
999        Gio   38870

[1000 rows x 2 columns]
Não encontrou ninguém com valor maior que 55000

Março
      Vendedor  Vendas
0        Maria   22876
1     Giuseppe   31953
2         Anna   17180
3     Giovanni   32777
4      Antonio   39083
..         ...     ...
995     Glauco   26581
996      Georg   22899
997     Tullia   19810
998  Pancrazio   37649
999        Gio   23864

[1000 rows x 2 columns]
Não encontrou ninguém com valor maior que 55000

Abril
      Vendedor  Vendas
0        Maria   18662
1     Giuseppe   28843
2         Anna   23288
3     Giovanni   28157
4      Antonio   48740
..         ...     ...
995     Glauco   39915
996      Georg   37902
997     Tullia   46760
998  Pancrazio   31245
999        Gio   37739

[1000 rows x 2 columns]
Não encontrou ninguém com valor maior que 55000

Maio
      Vendedor  Vendas
0        Maria   41006
1     Giuseppe   38162
2         Anna   24992
3     Giovanni   30826
4      Antonio   22208
..         ...     ...
995     Glauco   26294
996      Georg   30144
997     Tullia   36002
998  Pancrazio   31030
999        Gio   37629

[1000 rows x 2 columns]
Encontrou alguém com valor maior que 55000
Junho
      Vendedor  Vendas
0        Maria   48539
1     Giuseppe   27292
2         Anna   45813
3     Giovanni   17049
4      Antonio   15988
..         ...     ...
995     Glauco   15842
996      Georg   37695
997     Tullia   42438
998  Pancrazio   35274
999        Gio   47662

[1000 rows x 2 columns]
Não encontrou ninguém com valor maior que 55000

#### Informar qual mês foi encontrado o valor de 55000

In [7]:
for mes in lista_meses:
    tabela_vendas = pd.read_excel(f'{mes}.xlsx')
    if (tabela_vendas['Vendas'] > 55000).any():
        print(f'No mês de {mes} foi encontrado alguém com valor acima de 55000')

No mês de Maio foi encontrado alguém com valor acima de 55000

#### Informar qual mês, qual vendedor e qual o valor foi batido a meta de 55000

In [8]:
for mes in lista_meses:
    tabela_vendas = pd.read_excel(f'{mes}.xlsx')
    if (tabela_vendas['Vendas'] > 55000).any():
        vendedor = tabela_vendas.loc[tabela_vendas['Vendas'] > 55000, 'Vendedor'].values[0]
        vendas = tabela_vendas.loc[tabela_vendas['Vendas'] > 55000, 'Vendas'].values[0]
        print(f'No mês de {mes} o vendedor {vendedor} bateu a meta com {vendas} vendas.')

No mês de Maio o vendedor Hash bateu a meta com 57312 vendas.